:root .light-mode {
    --first-background-color: #c9cdb9;
    --first-font-color: #5b352c;
    --scrollbar-color: #978478;
}
:root .dark-mode {
    --first-background-color:  #161311;
    --first-font-color:  #d3d3d3;
    --scrollbar-color:  #38312c;

}

*::-webkit-scrollbar{
    background-color: var(--first-background-color);
    width: 8px;
}
*::-webkit-scrollbar-thumb{
    background: var(--scrollbar-color);

    border-radius: 100px;
}

body {
    font-family: "JetBrains Mono", sans-serif;
    background-color: var( --first-background-color);
    color: var(--first-font-color);
    margin: 0 auto;
    max-width: 800px;
    flex-direction: column;
    transition: background-color 0.3s ease;
    overflow: hidden;
    padding: 32px
} 

code{
    display: block;

    background-color: var( --first-background-color);

    max-width: 800px;

    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--first-font-color);

    font-size: 14pt;
}