#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 0;
    position: sticky;
    
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);

    border-radius: 10px;
    padding: 0 10px;
   
    width: 100%;

    text-shadow: 0 0 5px rgba(0, 0, 0, .4);
}
  
#navbar-logo {
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
    padding-right: 16px;
}

#navbar-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}
  