@tailwind base;
@tailwind components;
@tailwind utilities;


/* import "@fontsource/jetbrains-mono";
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/jetbrains-mono/400-italic.css"; */

/* Custom styles */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "JetBrains Mono", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
