@tailwind base;
@tailwind components;
@tailwind utilities;


/* import "@fontsource/jetbrains-mono";
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/jetbrains-mono/400-italic.css"; */

/* Custom styles */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "JetBrains Mono", monospace;
  cursor: none !important;
}

*,
*::before,
*::after {
  cursor: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cursor-style {
  mix-blend-mode: difference;
  background-color: white;
  /* 
  Cursor overlay everything: Prevent from being overlapping by other elements 
  */
  z-index: 9999;
}
